@use '@/shared/styles/mixins' as media;

.storyCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: var(--font-s-regular);
  color: var(--text-primary);
  padding-top: 20px;
  padding-bottom: 20px;

  @include media.respond-to('middle') {
    font: var(--font-xs-regular);
    color: var(--text-thirdary);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  &__title {
    font: var(--font-xl-bold);
    color: var(--brown-thirdary);

    @include media.respond-to('middle') {
      font: var(--font-m-bold);
    }
  }
}
