@use '@/shared/styles/mixins' as media;

.buttonViewAll {
  margin-top: 20px;
  margin-bottom: 20px;

  @include media.respond-to('middle') {
    padding-left: var(--padding-horizontal-desktop);
    padding-right: var(--padding-horizontal-desktop);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font: var(--font-l-regular);
    color: var(--accent-primary);
    border-bottom: 1px dashed var(--link-primary);
    transition: 0.25s;

    &:hover {
      color: var(--link-secondary);
    }

    @include media.respond-to('middle') {
      font: var(--font-s-regular);
      color: var(--light-primary);
      background: var(--accent-primary);
      border-bottom: none;
      border-radius: 30px;
      padding: 20px 40px;
    }
  }
}
