@use '@/shared/styles/mixins' as media;

.product {
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);
  padding-bottom: 20px;

  @include media.respond-to('middle') {
    padding: 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include media.respond-to('middle') {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 10px;
    }
  }

  &__imageBox {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

    @include media.respond-to('middle') {
      border-radius: 0;
    }
  }

  &__link {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(77, 34, 14, 0.4);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font: var(--font-xs-regular);
    color: var(--light-primary);
    text-align: center;
    padding: 5px 10px;
    transition: 0.3s;

    &:hover {
      background: var(--accent-primary);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);
  }

  &__span {
    font: var(--font-xs-medium);
    color: var(--brown-thirdary);
    letter-spacing: 0.8px;
  }

  &__condition {
    font: var(--font-xs-regular);
    color: var(--brown-thirdary);
    font-style: italic;
    padding-top: 15px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: var(--padding-vertical-desktop);

    @include media.respond-to('middle') {
      grid-template-columns: 1fr;
      gap: 0;
      padding-top: 0;
    }
  }
}
