@use '@/shared/styles/mixins' as media;

.textBlock {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--green-primary) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  font: var(--font-s-regular);
  color: var(--text-thirdary);
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  @include media.respond-to('middle') {
    font: var(--font-xs-medium);
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
