@use '@/shared/styles/mixins' as media;

.storiesWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);
  // padding-bottom: 20px;

  // border: 1px solid red;


  @include media.respond-to('middle') {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
  }
}
