@use '@/shared/styles/mixins' as media;

.viewAllCategories {
  margin-bottom: 20px;

  @include media.respond-to('middle') {
    margin-top: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-primary);
    border-bottom: 1px dashed var(--link-primary);
    transition: 0.25s;

    &:hover {
      color: var(--link-secondary);
    }

    @include media.respond-to('middle') {
      font: var(--font-xs-regular);
    }
  }
}
