@use '@/shared/styles/mixins' as media;

.productBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    width: 100%;

    @include media.respond-to('middle') {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include media.respond-to('small') {
      grid-template-columns: 1fr;
      gap: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__link {
    color: var(--link-primary);
    border-bottom: 1px dashed var(--link-primary);
    transition: 0.25s;

    &:hover {
      color: var(--link-secondary);
    }
  }
}
